html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
a {
	text-decoration: none;
	color: #444;
}
.charity {
	color: #A44;
}
#quote-box {
	background: url(background.gif) no-repeat;
	height: 250px;
	width: 550px;
	position: absolute;
	padding: 150px 100px;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: 30px;
	display: inline-block;
	text-shadow: 0 2px 3px #AAA;
}
#sayer {
	font-weight: bold;
	position: absolute;
	bottom: 50px;
	right: 200px;
}
#link-box {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 5;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: 10px;
}